
/****** Object:  Table [dbo].[CongViec]    Script Date: 25/05/2025 15:25:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongViec](
	[MaCV] [varchar](10) NOT NULL,
	[TenCV] [nvarchar](100) NULL,
	[LuongThang] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTDonDatHang]    Script Date: 25/05/2025 15:25:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDonDatHang](
	[MaHang] [varchar](10) NOT NULL,
	[SoLuong] [int] NULL,
	[GiaBan] [int] NULL,
	[ThanhTien] [int] NULL,
	[SoDDH] [int] NOT NULL,
	[GiamGia] [int] NULL,
 CONSTRAINT [PK_CTDonDatHang] PRIMARY KEY CLUSTERED 
(
	[SoDDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTHoaDonNhap]    Script Date: 25/05/2025 15:25:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHoaDonNhap](
	[SoHDN] [int] NOT NULL,
	[MaHang] [varchar](10) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [int] NULL,
	[GiamGia] [int] NULL,
	[ThanhTien] [int] NULL,
 CONSTRAINT [PK__CTHoaDon__E65FE305CA060DA3] PRIMARY KEY CLUSTERED 
(
	[SoHDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DMHang]    Script Date: 25/05/2025 15:25:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DMHang](
	[MaHang] [varchar](10) NOT NULL,
	[TenHang] [nvarchar](100) NULL,
	[MaLoai] [varchar](10) NULL,
	[MaNuocSX] [varchar](10) NULL,
	[MaHangSX] [varchar](10) NULL,
	[MaPhanh] [varchar](10) NULL,
	[MaMau] [varchar](10) NULL,
	[MaDongCo] [varchar](10) NULL,
	[MaTinhTrang] [varchar](10) NULL,
	[DungTichKhoang] [nvarchar](50) NULL,
	[Anh] [nvarchar](255) NULL,
	[SoLuong] [int] NULL,
	[DonGiaNhap] [int] NULL,
	[DonGiaBan] [int] NULL,
	[ThoiGianBaoHanh] [char](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonDatHang]    Script Date: 25/05/2025 15:25:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonDatHang](
	[MaNV] [varchar](10) NULL,
	[NgayMua] [date] NULL,
	[MaKH] [varchar](10) NULL,
	[Thue] [int] NULL,
	[TongTien] [int] NULL,
	[SoDDH] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_DonDatHang] PRIMARY KEY CLUSTERED 
(
	[SoDDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DongCo]    Script Date: 25/05/2025 15:25:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DongCo](
	[MaDongCo] [varchar](10) NOT NULL,
	[TenDongCo] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDongCo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HangSX]    Script Date: 25/05/2025 15:25:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangSX](
	[MaHangSX] [varchar](10) NOT NULL,
	[TenHangSX] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHangSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonNhap]    Script Date: 25/05/2025 15:25:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonNhap](
	[SoHDN] [varchar](10) NOT NULL,
	[MaNV] [varchar](10) NULL,
	[NgayNhap] [date] NULL,
	[MaNCC] [varchar](10) NULL,
	[TongTien] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[SoHDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonNhap_New]    Script Date: 25/05/2025 15:25:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonNhap_New](
	[SoHDN] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [varchar](10) NULL,
	[NgayNhap] [date] NULL,
	[MaNCC] [varchar](10) NULL,
	[TongTien] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SoHDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 25/05/2025 15:25:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [varchar](10) NOT NULL,
	[TenKH] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[DienThoai] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MauSac]    Script Date: 25/05/2025 15:25:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MauSac](
	[MaMau] [varchar](10) NOT NULL,
	[TenMau] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 25/05/2025 15:25:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [varchar](10) NOT NULL,
	[TenNCC] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[DienThoai] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 25/05/2025 15:25:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](10) NOT NULL,
	[TenNV] [nvarchar](100) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](200) NULL,
	[MaCV] [varchar](10) NULL,
	[SoDienThoai] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NuocSX]    Script Date: 25/05/2025 15:25:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NuocSX](
	[MaNuocSX] [varchar](10) NOT NULL,
	[TenNuocSX] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNuocSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanhXe]    Script Date: 25/05/2025 15:25:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanhXe](
	[MaPhanh] [varchar](10) NOT NULL,
	[TenPhanh] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 25/05/2025 15:25:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[MaLoai] [varchar](10) NOT NULL,
	[TenLoai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinhTrang]    Script Date: 25/05/2025 15:25:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinhTrang](
	[MaTinhTrang] [varchar](10) NOT NULL,
	[TenTinhTrang] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTinhTrang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CongViec] ([MaCV], [TenCV], [LuongThang]) VALUES (N'CV01', N'Bán hàng', CAST(8000000.00 AS Decimal(18, 2)))
INSERT [dbo].[CongViec] ([MaCV], [TenCV], [LuongThang]) VALUES (N'CV02', N'Kế toán', CAST(10000000.00 AS Decimal(18, 2)))
INSERT [dbo].[CongViec] ([MaCV], [TenCV], [LuongThang]) VALUES (N'CV03', N'Bào trì', CAST(8500000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[CTDonDatHang] ([MaHang], [SoLuong], [GiaBan], [ThanhTien], [SoDDH], [GiamGia]) VALUES (N'MH12', 1, 51000000, 51000000, 1, 5)
INSERT [dbo].[CTDonDatHang] ([MaHang], [SoLuong], [GiaBan], [ThanhTien], [SoDDH], [GiamGia]) VALUES (N'MH07', 1, 320000000, 320000000, 2, 5)
INSERT [dbo].[CTDonDatHang] ([MaHang], [SoLuong], [GiaBan], [ThanhTien], [SoDDH], [GiamGia]) VALUES (N'MH03', 8, 49500000, 396000000, 4, 5)
GO
INSERT [dbo].[CTHoaDonNhap] ([SoHDN], [MaHang], [SoLuong], [DonGia], [GiamGia], [ThanhTien]) VALUES (3, N'MH09', 3, 30000000, 10, 90000000)
INSERT [dbo].[CTHoaDonNhap] ([SoHDN], [MaHang], [SoLuong], [DonGia], [GiamGia], [ThanhTien]) VALUES (7, N'MH02', 5, 25000000, 10, 125000000)
INSERT [dbo].[CTHoaDonNhap] ([SoHDN], [MaHang], [SoLuong], [DonGia], [GiamGia], [ThanhTien]) VALUES (9, N'MH02', 5, 25000000, 10, 125000000)
GO
INSERT [dbo].[DMHang] ([MaHang], [TenHang], [MaLoai], [MaNuocSX], [MaHangSX], [MaPhanh], [MaMau], [MaDongCo], [MaTinhTrang], [DungTichKhoang], [Anh], [SoLuong], [DonGiaNhap], [DonGiaBan], [ThoiGianBaoHanh]) VALUES (N'MH01', N'HONDA AIR BLADE', N'TL01', N'NSX01', N'HSX01', N'PX01', N'MS01', N'DC01', N'TT03', N'10L', N'D:\FINAL_PROJECT\.Net\DotNetAe8\HangHoa\HONDAAIRBLADE.png', 10, 30000000, 35000000, N'24                                                ')
INSERT [dbo].[DMHang] ([MaHang], [TenHang], [MaLoai], [MaNuocSX], [MaHangSX], [MaPhanh], [MaMau], [MaDongCo], [MaTinhTrang], [DungTichKhoang], [Anh], [SoLuong], [DonGiaNhap], [DonGiaBan], [ThoiGianBaoHanh]) VALUES (N'MH02', N'HONDA PCX', N'TL02', N'NSX02', N'HSX01', N'PX02', N'MS02', N'DC02', N'TT01', N'5L', N'D:\FINAL_PROJECT\.Net\DotNetAe8\HangHoa\hondapcx.png', 20, 25000000, 29000000, N'18                                                ')
INSERT [dbo].[DMHang] ([MaHang], [TenHang], [MaLoai], [MaNuocSX], [MaHangSX], [MaPhanh], [MaMau], [MaDongCo], [MaTinhTrang], [DungTichKhoang], [Anh], [SoLuong], [DonGiaNhap], [DonGiaBan], [ThoiGianBaoHanh]) VALUES (N'MH03', N'HONDA SH MODE', N'TL03', N'NSX03', N'HSX01', N'PX03', N'MS03', N'DC03', N'TT01', N'7L', N'D:\FINAL_PROJECT\.Net\DotNetAe8\HangHoa\HONDASHMODE.png', 10, 45000000, 49500000, N'36                                                ')
GO
SET IDENTITY_INSERT [dbo].[DonDatHang] ON 

INSERT [dbo].[DonDatHang] ([MaNV], [NgayMua], [MaKH], [Thue], [TongTien], [SoDDH]) VALUES (NULL, CAST(N'2004-12-03' AS Date), N'KH06', 2, 52020000, 1)
INSERT [dbo].[DonDatHang] ([MaNV], [NgayMua], [MaKH], [Thue], [TongTien], [SoDDH]) VALUES (N'NV05', CAST(N'2024-02-04' AS Date), N'KH02', 2, 326400000, 2)
INSERT [dbo].[DonDatHang] ([MaNV], [NgayMua], [MaKH], [Thue], [TongTien], [SoDDH]) VALUES (N'NV04', CAST(N'2024-12-04' AS Date), N'KH06', 1, 88880000, 3)
SET IDENTITY_INSERT [dbo].[DonDatHang] OFF
GO
INSERT [dbo].[DongCo] ([MaDongCo], [TenDongCo]) VALUES (N'DC01', N'125cc')
INSERT [dbo].[DongCo] ([MaDongCo], [TenDongCo]) VALUES (N'DC02', N'150cc')
INSERT [dbo].[DongCo] ([MaDongCo], [TenDongCo]) VALUES (N'DC03', N'175cc')
GO
INSERT [dbo].[HangSX] ([MaHangSX], [TenHangSX]) VALUES (N'HSX01', N'Honda')
INSERT [dbo].[HangSX] ([MaHangSX], [TenHangSX]) VALUES (N'HSX02', N'Yamaha')
INSERT [dbo].[HangSX] ([MaHangSX], [TenHangSX]) VALUES (N'HSX03', N'Suzuki')
GO
SET IDENTITY_INSERT [dbo].[HoaDonNhap_New] ON 

INSERT [dbo].[HoaDonNhap_New] ([SoHDN], [MaNV], [NgayNhap], [MaNCC], [TongTien]) VALUES (6, N'NV06', CAST(N'2024-04-12' AS Date), N'NCC04', 108000000)
INSERT [dbo].[HoaDonNhap_New] ([SoHDN], [MaNV], [NgayNhap], [MaNCC], [TongTien]) VALUES (8, N'NV06', CAST(N'2025-10-02' AS Date), NULL, 112500000)
INSERT [dbo].[HoaDonNhap_New] ([SoHDN], [MaNV], [NgayNhap], [MaNCC], [TongTien]) VALUES (10, N'NV07', CAST(N'2025-12-04' AS Date), NULL, 112500000)
SET IDENTITY_INSERT [dbo].[HoaDonNhap_New] OFF
GO
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChi], [DienThoai]) VALUES (N'KH01', N'Lê Quốc Hưng', N'Hà Nội', N'0901234567')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChi], [DienThoai]) VALUES (N'KH02', N'Phan Thị Lan', N'HCM', N'0902345678')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChi], [DienThoai]) VALUES (N'KH03', N'Hoàng Văn Khải', N'Bình Dương', N'0903456789')
GO
INSERT [dbo].[MauSac] ([MaMau], [TenMau]) VALUES (N'MS01', N'Đỏ')
INSERT [dbo].[MauSac] ([MaMau], [TenMau]) VALUES (N'MS02', N'Đen')
INSERT [dbo].[MauSac] ([MaMau], [TenMau]) VALUES (N'MS03', N'Trắng')
GO
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [DienThoai]) VALUES (N'NCC01', N'Cty Linh kiện ABC', N'123 Lê Lợi, Q1', N'0281234567')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [DienThoai]) VALUES (N'NCC02', N'Cty Phụ tùng Duy Tân', N'456 Tôn Đức Thắng, Q3', N'0282345678')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [DienThoai]) VALUES (N'NCC03', N'Xe máy Thái Bình', N'789 Nguyễn Trãi, Hà Nội', N'0243456789')
GO
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [GioiTinh], [NgaySinh], [DiaChi], [MaCV], [SoDienThoai]) VALUES (N'NV01', N'Nguyễn Văn A', N'Nam', CAST(N'1990-01-01' AS Date), N'Hà N?i', N'CV04', N'090-1234')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [GioiTinh], [NgaySinh], [DiaChi], [MaCV], [SoDienThoai]) VALUES (N'NV02', N'Trần Thị B', N'Nữ', CAST(N'1992-02-02' AS Date), N'Hồ Chí Minh', N'CV02', N'0912345678')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [GioiTinh], [NgaySinh], [DiaChi], [MaCV], [SoDienThoai]) VALUES (N'NV04', N'Phạm Thị D', N'Nữ', CAST(N'1993-04-04' AS Date), N'Cần Thơ', N'CV04', N'0923456799')
GO
INSERT [dbo].[NuocSX] ([MaNuocSX], [TenNuocSX]) VALUES (N'NSX01', N'Việt Nam')
INSERT [dbo].[NuocSX] ([MaNuocSX], [TenNuocSX]) VALUES (N'NSX02', N'Nhật Bản')
INSERT [dbo].[NuocSX] ([MaNuocSX], [TenNuocSX]) VALUES (N'NSX03', N'Hàn Quốc')
GO
INSERT [dbo].[PhanhXe] ([MaPhanh], [TenPhanh]) VALUES (N'PX01', N'Phanh đĩa')
INSERT [dbo].[PhanhXe] ([MaPhanh], [TenPhanh]) VALUES (N'PX02', N'Phanh cơ')
INSERT [dbo].[PhanhXe] ([MaPhanh], [TenPhanh]) VALUES (N'PX03', N'Phanh ABS')
GO
INSERT [dbo].[TheLoai] ([MaLoai], [TenLoai]) VALUES (N'TL01', N'Xe ga')
INSERT [dbo].[TheLoai] ([MaLoai], [TenLoai]) VALUES (N'TL02', N'Xe số')
INSERT [dbo].[TheLoai] ([MaLoai], [TenLoai]) VALUES (N'TL03', N'Xe tay côn')
GO
INSERT [dbo].[TinhTrang] ([MaTinhTrang], [TenTinhTrang]) VALUES (N'TT01', N'Mới 100%')
INSERT [dbo].[TinhTrang] ([MaTinhTrang], [TenTinhTrang]) VALUES (N'TT02', N'Like new 99%')
INSERT [dbo].[TinhTrang] ([MaTinhTrang], [TenTinhTrang]) VALUES (N'TT03', N'Cũ')
GO
ALTER TABLE [dbo].[CTDonDatHang]  WITH CHECK ADD FOREIGN KEY([MaHang])
REFERENCES [dbo].[DMHang] ([MaHang])
GO
ALTER TABLE [dbo].[CTDonDatHang]  WITH CHECK ADD  CONSTRAINT [FK_CTDonDatHang_DMHang] FOREIGN KEY([MaHang])
REFERENCES [dbo].[DMHang] ([MaHang])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTDonDatHang] CHECK CONSTRAINT [FK_CTDonDatHang_DMHang]
GO
ALTER TABLE [dbo].[CTDonDatHang]  WITH CHECK ADD  CONSTRAINT [Fkdathang] FOREIGN KEY([SoDDH])
REFERENCES [dbo].[DonDatHang] ([SoDDH])
GO
ALTER TABLE [dbo].[CTDonDatHang] CHECK CONSTRAINT [Fkdathang]
GO
ALTER TABLE [dbo].[CTHoaDonNhap]  WITH CHECK ADD FOREIGN KEY([MaHang])
REFERENCES [dbo].[DMHang] ([MaHang])
GO
ALTER TABLE [dbo].[CTHoaDonNhap]  WITH CHECK ADD  CONSTRAINT [FK_CTHoaDonNhap_DMHang] FOREIGN KEY([MaHang])
REFERENCES [dbo].[DMHang] ([MaHang])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTHoaDonNhap] CHECK CONSTRAINT [FK_CTHoaDonNhap_DMHang]
GO
ALTER TABLE [dbo].[DMHang]  WITH CHECK ADD FOREIGN KEY([MaDongCo])
REFERENCES [dbo].[DongCo] ([MaDongCo])
GO
ALTER TABLE [dbo].[DMHang]  WITH CHECK ADD FOREIGN KEY([MaHangSX])
REFERENCES [dbo].[HangSX] ([MaHangSX])
GO
ALTER TABLE [dbo].[DMHang]  WITH CHECK ADD FOREIGN KEY([MaLoai])
REFERENCES [dbo].[TheLoai] ([MaLoai])
GO
ALTER TABLE [dbo].[DMHang]  WITH CHECK ADD FOREIGN KEY([MaMau])
REFERENCES [dbo].[MauSac] ([MaMau])
GO
ALTER TABLE [dbo].[DMHang]  WITH CHECK ADD FOREIGN KEY([MaNuocSX])
REFERENCES [dbo].[NuocSX] ([MaNuocSX])
GO
ALTER TABLE [dbo].[DMHang]  WITH CHECK ADD FOREIGN KEY([MaPhanh])
REFERENCES [dbo].[PhanhXe] ([MaPhanh])
GO
ALTER TABLE [dbo].[DMHang]  WITH CHECK ADD FOREIGN KEY([MaTinhTrang])
REFERENCES [dbo].[TinhTrang] ([MaTinhTrang])
GO
ALTER TABLE [dbo].[DMHang]  WITH CHECK ADD  CONSTRAINT [fk_DMHang_MauSac] FOREIGN KEY([MaMau])
REFERENCES [dbo].[MauSac] ([MaMau])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DMHang] CHECK CONSTRAINT [fk_DMHang_MauSac]
GO
ALTER TABLE [dbo].[DMHang]  WITH CHECK ADD  CONSTRAINT [fk_DMHang_TheLoai] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[TheLoai] ([MaLoai])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DMHang] CHECK CONSTRAINT [fk_DMHang_TheLoai]
GO
ALTER TABLE [dbo].[DonDatHang]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[DonDatHang]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[DonDatHang]  WITH CHECK ADD  CONSTRAINT [FK_DonDatHang_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[DonDatHang] CHECK CONSTRAINT [FK_DonDatHang_KhachHang]
GO
ALTER TABLE [dbo].[DonDatHang]  WITH CHECK ADD  CONSTRAINT [FK_DonDatHang_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[DonDatHang] CHECK CONSTRAINT [FK_DonDatHang_NhanVien]
GO
ALTER TABLE [dbo].[HoaDonNhap]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[HoaDonNhap]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDonNhap]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonNhap_NhaCungCap] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDonNhap] CHECK CONSTRAINT [FK_HoaDonNhap_NhaCungCap]
GO
ALTER TABLE [dbo].[HoaDonNhap_New]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[HoaDonNhap_New]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDonNhap_New]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonNhapNew_NhaCungCap] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[HoaDonNhap_New] CHECK CONSTRAINT [FK_HoaDonNhapNew_NhaCungCap]
GO
ALTER TABLE [dbo].[HoaDonNhap_New]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonNhapNew_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[HoaDonNhap_New] CHECK CONSTRAINT [FK_HoaDonNhapNew_NhanVien]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([MaCV])
REFERENCES [dbo].[CongViec] ([MaCV])
GO
